<div
  class="pg-random-games"
  *ngIf="pickedGames"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div class="pg-random-games__header"><h2>Picked boardgame(s)</h2></div>

  <div
    class="pg-random-games__content"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="5px"
  >
    <div
      class="pg-random-games__box"
      *ngFor="let game of pickedGames"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <div>
        <img
          *ngIf="game?.thumbnail"
          [src]="game?.thumbnail"
          [alt]="game?.name"
        />
      </div>
      <span>{{ game.name }}</span>
    </div>
  </div>
</div>
