@function textShadow($precision, $size, $color) {
  $value: null;
  $offset: 0;
  $length: $size * (1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
  }

  @return $value;
}

.playful {
  font-family: 'New Tegomin', serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #5362f6;
  text-shadow: textShadow(0.25, 2, #e485f8);
}

.playful span:nth-child(2n) {
  color: #ed625c;
  text-shadow: textShadow(0.25, 6, #f2a063);
}

.playful span:nth-child(3n) {
  color: #ffd913;
  text-shadow: textShadow(0.25, 6, #6ec0a9);
}

.pg-user-preferences {
  width: 100vw;

  &__field {
    margin-top: 5px;
  }

  &__username {
    width: 200px;
  }

  &__field-label {
    width: fit-content;
  }

  &__pick-group {
    width: fit-content;
  }

  &__pick-option {
    margin-right: 15px;
    margin-top: 5px;
    width: 80px;
  }
}

.pg-list {
  width: 100vw;
  margin-left: 10px;
  margin-right: 10px;

  &__content {
    border: 1px gray solid;
  }

  &__box {
    width: 250px;
    height: 250px;
  }
}
