<header fxLayout="row" fxLayoutAlign="center">
  <h1
    class="playful"
    fxLayout.md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
  >
    <div>
      <span>r</span><span>a</span><span>n</span><span>d</span><span>o</span
      ><span>m</span><span>&nbsp;</span>
    </div>
    <div>
      <span>b</span><span>o</span><span>a</span><span>r</span><span>d</span
      ><span>g</span><span>a</span><span>m</span><span>e</span><span>s</span
      ><span>&nbsp;</span>
    </div>
    <div>
      <span>p</span><span>i</span><span>c</span><span>k</span><span>e</span
      ><span>r</span>
      <span>!</span>
    </div>
  </h1>
</header>
<main>
  <div
    class="pg-user-preferences"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center end"
    fxLayoutAlign.lt-md="center center"
    fxLayoutGap="10px"
  >
    <div class="pg-user-preferences__field">
      <mat-form-field class="pg-user-preferences__username">
        <mat-label>BGG Username</mat-label>
        <input matInput type="text" [(ngModel)]="username" />
        <button
          mat-button
          *ngIf="username"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="username = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div
      class="pg-user-preferences__field"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <mat-label class="pg-user-preferences__field-label"
        >How many games to pick?</mat-label
      >
      <mat-radio-group
        class="pg-user-preferences__pick-group"
        aria-label="How many games to pick"
        fxLayout.gt-md="row"
        fxLayout.lt-md="column"
        fxLayoutAlign.lt-md="center center"
        fxLayoudGap="5px"
        [(ngModel)]="pickCount"
      >
        <mat-radio-button class="pg-user-preferences__pick-option" value="1"
          >1 Game</mat-radio-button
        >
        <mat-radio-button class="pg-user-preferences__pick-option" value="3"
          >3 Games</mat-radio-button
        >
        <mat-radio-button class="pg-user-preferences__pick-option" value="5"
          >5 Games</mat-radio-button
        >
        <mat-radio-button class="pg-user-preferences__pick-option" value="10"
          >10 Games</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div class="pg-user-preferences__field">
      <button
        mat-raised-button
        color="primary"
        [disabled]="pickerDisabled"
        (click)="loadGames()"
      >
        Pick game(s)!
      </button>
    </div>
  </div>
  <div
    class="pg-list"
    *ngIf="games$ | async as games"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <bgp-random-games-list
      [games]="games"
      [count]="pickCount"
    ></bgp-random-games-list>

    <h3>
      Collection - own games (without extensions):
      {{ games.length }}
    </h3>
    <!-- <div class="pg-list__content" fxLayout="row wrap" fxLayoutGap="5px">
      <div
        class="pg-list__box"
        *ngFor="let game of games"
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <div>
          <img [src]="game.thumbnail" [alt]="game.name" />
        </div>
        <span>{{ game.name }}</span>
      </div>
    </div> -->
  </div>
</main>
